@import "tailwindcss";

@theme {
  --color-accent: var(--theme-accent);
  --color-foreground: var(--theme-foreground);
  --color-background: var(--theme-background);
  --default-font-family: var(--theme-font);
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible,
button:focus-visible,
a:focus-visible,
input:active,
textarea:active,
select:active,
button:active {
  @apply outline-1 outline-accent outline-offset-2
}

.prose {

  div.expressive-code {
    @apply my-8;

    figure {
      @apply border-1 border-[var(--theme-accent)]/10
    }
  }

  h1 {
    @apply text-2xl text-[var(--theme-h1)] my-6.5 font-semibold;
  }

  h2 {
    @apply text-xl text-[var(--theme-h2)] my-6.5 font-semibold;
  }

  h3 {
    @apply text-lg text-[var(--theme-h3)] my-6.5 font-semibold;
  }

  h4 {
    @apply text-base text-[var(--theme-h4)] my-6.5 font-semibold;
  }

  h5 {
    @apply text-base text-[var(--theme-h5)] my-6.5 font-semibold;
  }

  h6 {
    @apply text-base text-[var(--theme-h6)] my-6.5 font-semibold;
  }

  span.anchor-text {
    @apply tracking-wide opacity-80;
  }

  p,
  ul,
  ol,
  img,
  figure,
  video,
  table {
    @apply my-6.5
  }

  b, strong, th, button {
    @apply font-semibold
  }

  a {
    @apply text-[var(--theme-a)] underline hover:underline;

    &.heading-anchor {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  button {
    @apply font-bold text-center text-accent py-1 px-4.5 border-4 border-accent cursor-pointer hover:bg-accent/15 transition-colors
  }

  img {
    @apply block max-w-full border-8 border-accent p-2 overflow-hidden
  }

  figure img, figure video {
    @apply mb-0 border-b-0
  }

  figure figcaption:not(.expressive-code figcaption) {
    @apply bg-accent text-background text-center py-2
  }

  ul, ol {
    @apply ml-9.5
  }

  li {
    @apply pl-5 marker:text-[var(--theme-li-marker)] marker:content-['-'] marker:-left-5
  }

  hr {
    @apply h-0.5 my-12 text-[var(--theme-accent)]
  }

  blockquote {
    @apply relative border-y-1 border-accent p-6 before:content-['>'] before:block before:absolute before:text-accent before:left-0;

    p:first-child {
      @apply mt-0
    }

    p:last-child {
      @apply mb-0
    }
  }

  table,
  th,
  td {
    @apply border-2 border-foreground/80 p-2.5;
  }

  th {
    @apply uppercase text-left;
  }

  fieldset {
    @apply inline-block border-2 border-accent/80 p-2.5;
  }

  fieldset *:first-child {
    @apply mb-0
  }

  fieldset input, fieldset select, fieldset textarea, fieldset label, fieldset button {
    @apply mt-3 w-full;
  }

  label {
    @apply inline-block
  }

  label input {
    @apply mt-0
  }

  input, textarea, select {
    @apply bg-transparent text-foreground border-1 border-foreground p-2.5;
  }

  input[type="checkbox"] {
    @apply w-auto;
  }

  input[type="submit"] {
    @apply border-accent cursor-pointer;
  }

}
