@import "@pagefind/default-ui/css/ui.css";

:root {
    --pagefind-ui-background: var(--theme-background);
    --pagefind-ui-text: var(--theme-foreground);
}

#cactus__search {
	--pagefind-ui-font: inherit;
	--pagefind-ui-primary: var(--theme-accent);
	--pagefind-ui-text: var(--theme-foreground);
	--pagefind-ui-background: var(--theme-background);
	--pagefind-ui-border: var(--theme-accent);
	--pagefind-ui-border-width: 2px;
}