---
import type { GetStaticPaths } from 'astro'
import Layout from '~/layouts/Layout.astro'
import { getAllSeries } from '~/utils'
import PageHeader from '~/components/PageHeader.astro'
import PostPreview from '~/components/PostPreview.astro'

export const getStaticPaths = (async () => {
  const allSeries = await getAllSeries()
  return allSeries.map((series) => {
    return {
      params: { slug: series.titleSlug },
      props: { posts: series.posts, title: series.title },
    }
  })
}) satisfies GetStaticPaths

const { posts, title } = Astro.props
---

<Layout title={`Series: ${title}`} description={`All posts in the ${title} series`}>
  <div class="mt-2 sm:mt-0">
    <PageHeader>{title}</PageHeader>
    {posts.map((post) => <PostPreview post={post} />)}
  </div>
</Layout>
