---
import Layout from '~/layouts/Layout.astro'
import { getSortedPortfolios, getSortedPosts } from '~/utils'
import { getCollection, render } from 'astro:content'
import PortfolioPreview from '~/components/PortfolioPreview.astro'
import Pagination from '~/components/Pagination.astro'
import BlockHeader from '~/components/BlockHeader.astro'
import HomeBanner from '~/components/HomeBanner.astro'
import siteConfig from '~/site.config'
import SeriesSection from '~/components/SeriesSection.astro'

const home = await getCollection('home')
let HomeContent
let homeAvatarImage
let homeGithubCalendar
if (home.length > 0) {
  const homeEntry = home[0]
  const { Content } = await render(homeEntry)
  HomeContent = Content
  homeAvatarImage = homeEntry.data.avatarImage
  homeGithubCalendar = homeEntry.data.githubCalendar
}

const sortedPortfolios = await getSortedPortfolios()

---

<Layout>
  {
    HomeContent && (
      <HomeBanner avatarImage={homeAvatarImage} githubCalendar={homeGithubCalendar}></HomeBanner>
    )
  }
  {
      <section>
        <BlockHeader>Technical Skills (Development)</BlockHeader>
        <SeriesSection />
      </section>

  }
  {
    sortedPortfolios.length > 0 && (
      <section>
        <BlockHeader>Portfolio Of Works</BlockHeader>
        {sortedPortfolios
          .reverse()
          .slice(0, Math.floor(siteConfig.pageSize / 2))
          .map((post) => (
            <PortfolioPreview portfolio={post} />
          ))}

        {
          sortedPortfolios.length > 3 && (
            <Pagination nextLink="/posts" nextText="Archive" />
          )
        }

      </section>
    )
  }
</Layout>

<style is:global>
  a.heading-anchor {
    display: none !important;
  }
</style>
