---
import Layout from '../layouts/Layout.astro'
import { getCollection, getEntry } from 'astro:content'

let posts = await getCollection('posts')
---

<Layout>
  {
    posts.map((post) => (
      <article class="w-full py-7.5">
        <h2
          class:list={[
            'relative text-xl text-accent mb-3 pb-4 border-b-3 border-dotted border-accent',
            'after:absolute after:bottom-0.5 after:block after:content-normal after:w-full after:border-b-accent after:border-b-3 after:border-dotted',
          ]}
        >
          <a href={post.id}>{post.data.title}</a>
        </h2>
      </article>
    ))
  }
</Layout>
