---
interface Props {
  text: string
}
const { text } = Astro.props
---

<div class="flex gap-3 items-center my-4">
  <hr class="flex-1 text-accent" />
  <span class="shrink-0 whitespace-nowrap">{text}</span>
  <hr class="flex-1 text-accent" />
</div>
