---

---

<footer
  class="py-10 grow-0 flex items-center justify-between max-w-full text-foreground/80"
>
  <div id="copyright" class="flex flex-col sm:flex-row flex-wrap flex-1 items-center justify-center">
    <span class="my-1">
      © 2025 Powered by <a class="underline" href="https://astro.build">Astro</a>
    </span>
    <span class="hidden sm:block mx-3">::</span>
    <span class="my-1">
      Theme by <a class="underline" href="https://github.com/stelcodes">Stel Clementine</a>
    </span>
  </div>
</footer>
