---
import type { NavLink } from '@types'

const links: NavLink[] = [
  { name: 'Home', url: '/' },
  { name: 'Archive', url: '/archive' },
]
---

<header class="flex flex-col">
  <div class="flex items-stretch justify-between">
    <div id="logo" class="flex flex-1">
      <a
        class="px-2.5 py-1.5 max-w-full no-underline flex-none items-center bg-accent text-background font-bold"
      >
        Logo
      </a>
    </div>
    <nav id="nav-menu" aria-label="Menu" class="relative p-0 m-0 text-accent">
      <button
        id="nav-menu-button"
        class="px-2.5 h-full cursor-pointer border-2"
        type="button"
        aria-expanded="true"
        aria-controls="nav-menu-list"
      >
        Menu ▾
      </button>
      <ul
        id="nav-menu-list"
        class="absolute flex flex-col bg-background shadow text-accent border-2 m-0 p-2.5 top-10 left-auto right-0 z-50"
      >
        {
          links.map((link) => (
            <li aria-expanded="false">
              <a href={link.url}>{link.name}</a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>

<script>
  let navMenuList = document.getElementById('nav-menu-list')
  let navMenuListItems = navMenuList?.querySelectorAll('li')
  let navMenuButton = document.getElementById('nav-menu-button')
  navMenuButton?.addEventListener('click', (_ev) => {
    navMenuList?.classList.toggle('hidden')
    let hidden = navMenuList?.classList.contains('hidden')
    navMenuListItems?.forEach((listItem) => {
      listItem.setAttribute('aria-expanded', hidden ? 'false' : 'true')
    })
  })
</script>

<style lang="scss">
  #logo::after {
    content: '';
    background: repeating-linear-gradient(
      90deg,
      var(--color-accent),
      var(--color-accent) 2px,
      transparent 0,
      transparent 10px
    );
    display: block;
    width: 100%;
  }
</style>
