---
import { Image } from 'astro:assets'
import ReactGithubCalendar from './ReactGithubCalendar'
import type { FrontmatterImage } from '../types'

interface Props {
  avatarImage?: FrontmatterImage
  githubCalendar?: string
}
const { avatarImage, githubCalendar } = Astro.props
---

<div class="my-6">
  <div
    class="flex flex-col sm:flex-row items-center justify-around sm:gap-5 max-w-full mb-6"
  >
    {
      avatarImage && (
        <Image
          src={avatarImage.src}
          alt={avatarImage.alt}
          class="rounded-full border-8 border-accent/15 size-40 aspect-square"
        />
      )
    }
    <div>
      <div class:list={['m-4 max-w-full prose']}>
        <slot />
      </div>
    </div>
  </div>
  {
    githubCalendar && (
      <div class="h-42">
        <ReactGithubCalendar username={githubCalendar} client:only />
      </div>
    )
  }
</div>

<style is:global>
  .github-calendar rect {
    stroke: var(--theme-foreground) !important;
    stroke-opacity: 0.1 !important;
  }
</style>
