---
import { Image } from 'astro:assets'
import GitHubActivityCalendar from '~/components/GitHubActivityCalendar.astro'
import type { FrontmatterImage } from '~/types'

interface Props {
  avatarImage?: FrontmatterImage
  githubCalendar?: string
}
const { avatarImage, githubCalendar } = Astro.props
---

<div class="my-6 md:mx-2">
  <div
    class="flex flex-col sm:flex-row items-center justify-around sm:gap-5 max-w-full mb-6"
  >
    {
      avatarImage && (
        <Image
          priority
          src={avatarImage.src}
          alt={avatarImage.alt}
          class="rounded-full border-8 border-accent/15 size-40 aspect-square"
          height={160}
          width={160}
        />
      )
    }
    <div>
      <div class:list={['m-4 max-w-full prose']}>
        <slot />
      </div>
    </div>
  </div>
  {githubCalendar && <GitHubActivityCalendar username={githubCalendar} />}
</div>
