---
import { Icon } from 'astro-icon/components'

interface Props {
  prevLink?: string
  prevText?: string
  nextLink?: string
  nextText?: string
}

const { prevLink, prevText, nextLink, nextText } = Astro.props
---

<div class="my-5 flex flex-row flex-wrap gap-3 justify-center">
  {
    prevLink && (
      <a
        href={prevLink}
        aria-label="Previous Page"
        class="flex whitespace-nowrap flex-row items-center justify-center text-accent p-2 pr-3 border-1 border-accent/70"
      >
        <Icon name="material-symbols:keyboard-double-arrow-left" class="mr-2 text-xl" />
        {prevText || 'Previous'}
      </a>
    )
  }
  {
    nextLink && (
      <a
        href={nextLink}
        aria-label="Next Page"
        class:list={[
          'whitespace-nowrap flex flex-row items-center justify-around text-accent p-2 pl-3 border-1 border-accent/70',
          prevLink && 'ml-auto',
        ]}
      >
        {nextText || 'Next'}
        <Icon name="material-symbols:keyboard-double-arrow-right" class="ml-2 text-xl" />
      </a>
    )
  }
</div>
