---
import type { CollectionEntry } from 'astro:content'
import { SeriesGroup } from '~/utils'

interface Props {
  posts: CollectionEntry<'posts'>[]
}

const { posts } = Astro.props

const seriesGroup = await SeriesGroup.build(posts)

const skills = ['HTML5 & CSS3', 'JavaScript', 'PHP', 'Laravel', 'React.js', 'Next JS', 'MySQL', 'Git & Github', 'Tailwind CSS', "Wordpress"]
---

<ul class="flex flex-wrap gap-x-3 gap-y-4 my-5">
  {
    skills.map((series, index) => (
      <li>
        <div
          class="flex items-start gap-2.5 py-2 pl-4 pr-3 bg-accent/7 rounded-3xl border-transparent hover:border-accent/20 border-1 text-foreground/90"
        >
          {series}
        </div>
      </li>
    ))
  }
</ul>
