---
import Html5 from '~/icons/html5.svg'
import Css from '~/icons/css3.svg'
import Tailwind from '~/icons/tailwind.svg'
import Typescript from '~/icons/typescript.svg'
import Nextjs from '~/icons/nextjs.svg'
import Database from '~/icons/database.svg'
import React from '~/icons/react.svg'
import Laravel from '~/icons/laravel.svg'
import Wordpress from '~/icons/wordpress.svg'
import Javascript from '~/icons/js.svg'
import Php from '~/icons/php.svg'

const skills = [
  { icon: Html5, name: 'HTML' },
  { icon: Css, name: 'CSS' },
  { icon: Javascript, name: 'Javascript' },
  { icon: Typescript, name: 'Typescript' },
  { icon: Php, name: 'PHP' },
  { icon: Tailwind, name: 'Tailwind' },
  { icon: React, name: 'React' },
  { icon: Laravel, name: 'Laravel' },
  { icon: Nextjs, name: 'Next Js' },
  { icon: Wordpress, name: 'Wordpress' },
  { icon: Database, name: 'MySQL' },
]
---

<ul class="flex flex-wrap gap-x-3 gap-y-4 my-5">
  {
    skills.map(({ icon: Icon, name }) => (
      <li>
        <div
          class="flex items-start gap-1 py-2 pl-4 pr-3 bg-accent/7 rounded-3xl border-transparent hover:border-accent/30 hover:bg-accent/3 border-1 text-foreground/90 hover:cursor-pointer"
        >
          <Icon class="size-6"/>
          <div>{name}</div>
        </div>
      </li>
    ))
  }
</ul>