---
interface Props {
  tags: string[]
}

const { tags } = Astro.props
---

<div class="flex flex-wrap gap-3 text-sm">
  <slot />
  {
    tags.map((tag) => (
      <a
        href={`/tags/${encodeURIComponent(tag)}`}
        class="py-1 px-3 bg-accent/1 hover:bg-accent/8 border-1 border-accent/20 text-accent/90 rounded-2xl transition-colors"
      >
        {tag}
      </a>
    ))
  }
</div>
