---
import type { CollectionEntry } from 'astro:content'
import { getTagData } from '~/utils'

interface Props {
  posts: CollectionEntry<'posts'>[]
}

const { posts } = Astro.props
const tagsData = await getTagData(posts)
const sortedTags = Object.entries(tagsData).sort((a, b) => {
  // Sort tags by the number of posts in descending order
  return b[1].length - a[1].length
})
---

<ul class="flex flex-wrap gap-x-3 gap-y-4 my-5">
  {
    sortedTags.map(([tag, posts]) => (
      <li>
        <a
          href={`/tags/${encodeURIComponent(tag)}`}
          class="flex items-start gap-2.5 py-2 pl-4 pr-3 bg-accent/7 rounded-3xl border-transparent hover:border-accent/20 border-1 text-foreground/90"
        >
          {tag}
          <span class="rounded-full bg-foreground/7 text-foreground/90 px-2 py-1 text-xs font-semibold">
            {posts.length}
          </span>
        </a>
      </li>
    ))
  }
</ul>
