---
import type { GetStaticPaths } from 'astro'
import Layout from '~/layouts/Layout.astro'
import { getSortedPortfolios, getSortedPosts } from '~/utils'
import Pagination from '~/components/Pagination.astro'
import siteConfig from '~/site.config'
import PostPreview from '~/components/PostPreview.astro'
import PageHeader from '~/components/PageHeader.astro'
import PortfolioPreview from '~/components/PortfolioPreview.astro'

// Note: Pagination like '/', '/2', '/3' only works with spread param like [...page]
export const getStaticPaths = (async ({ paginate }) => {
  const sortedPosts = await getSortedPosts()
  return paginate(sortedPosts.reverse(), { pageSize: siteConfig.pageSize })
}) satisfies GetStaticPaths

const { page } = Astro.props
const pageTitle = 'Archive' + (page.currentPage > 1 ? ` - Page ${page.currentPage}` : '')
const sortedPortfolios = await getSortedPortfolios()
---

<Layout title={pageTitle} description="All posts in the archive">
  <div class="mt-2 sm:mt-0">
    <PageHeader />
    {
      sortedPortfolios.length > 0 &&
        sortedPortfolios
          .map((post) => <PortfolioPreview portfolio={post} />)
    }
  </div>
</Layout>
