---
import './src/styles/global.css'
import Header from '@components/Header.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Change Me</title>
  </head>
  <body class="w-full h-full m-0 bg-background fg-foreground">
    <div
      class="flex flex-col max-w-3xl min-h-screen border-x border-accent/10 m-auto p-5 md:p-10"
    >
      <Header />
      <slot />
    </div>
  </body>
</html>
