---
import '/src/styles/global.css'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import { loadShikiTheme } from 'astro-expressive-code'

let theme = await loadShikiTheme('dracula')
const font = 'Fira Code'
const themeAccent = theme.colors['terminal.ansiBrightBlue']
const themeForeground = theme.colors['editor.foreground']
const themeBackground = theme.colors['editor.background']
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Terminal</title>
  </head>
  <body class="w-full h-full m-0 bg-background text-foreground">
    <div
      class="flex flex-col max-w-3xl min-h-screen border-x border-accent/10 m-auto p-5 md:p-10"
    >
      <Header />
      <div class="flex flex-col">
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>

<style
  define:vars={{
    'color-accent': themeAccent,
    'color-foreground': themeForeground,
    'color-background': themeBackground,
    'default-font-family': font,
  }}
></style>
